# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
.env/

# Django
*.log
staticfiles/
media/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node / front-end (for later tooling)
node_modules/
.dist/
.build/


